[Desktop Entry]
Version=1.0
Type=Link
Name=ActionBoxVM
Comment=Open the ActionBoxVM desktop
URL=https://vinyl-ago-staff-banana.trycloudflare.com/vnc.html?autoconnect=true&resize=scale
Icon=computer
