[Desktop Entry]
Version=1.0
Type=Link
Name=ActionBoxVM
Comment=Open the ActionBoxVM desktop
URL=https://enclosed-missouri-implemented-senate.trycloudflare.com/vnc.html?autoconnect=true&resize=scale
Icon=computer
