[Desktop Entry]
Version=1.0
Type=Link
Name=ActionBoxVM
Comment=Open the ActionBoxVM desktop
URL=https://mold-military-briefing-thus.trycloudflare.com/vnc.html?autoconnect=true&resize=remote
Icon=computer
