[Desktop Entry]
Version=1.0
Type=Link
Name=ActionBoxVM
Comment=Open the ActionBoxVM noVNC desktop
URL=https://routes-investigation-parliamentary-anybody.trycloudflare.com/vnc.html?autoconnect=true&resize=remote
Icon=computer
